@import url(styles.css);

.grid-areas {
  display: grid;
  grid-template-columns: repeat(16, 200px);
  grid-template-rows: repeat(16, 200px);
  /* grid-template-areas:
    /* "header  header"
    "sidebar content"
    "footer  footer"; */
}

.header {
  grid-area: header;
  background-color: brown;
}

.sidebar {
  grid-area: sidebar;
  background-color: steelblue;
}

.content {
  grid-area: content;
  background-color: blue;
}
