@import url(styles.css);

.grid-areas {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr 90px;
  gap: 10px;
  grid-template-areas:
    "header  header"
    "sidebar content";
}

.header {
  grid-area: header;
  background-color: brown;
}

.sidebar {
  grid-area: sidebar;
  background-color: steelblue;
}

.content {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(10, 300px);
  gap: 10px;
  grid-area: content;
}
